<nav class="flex flex-wrap bg-purple-50 p-6 justify-around">
  <div>
    <i class="fa-solid fa-file-invoice-dollar fa-2xl"></i>
    <span class="text-sm">Account
      <i class="fa-solid fa-sort-down"></i><br>
      -222,555.78
    </span>
  </div>
  <div><i class="fa-regular fa-calendar fa-2xl"></i></div>
  <div><i class="fa-regular fa-eye fa-2xl"></i></div>
  <div><i class="fa-solid fa-magnifying-glass fa-2xl"></i></div>
  <div><i class="fa-solid fa-circle-plus fa-2xl sm:hidden"></i></div>
  <div *ngIf="showAddTrnxBtn"><button class="bg-purple-600 text-white text-center py-2 px-4 rounded">ADD TRANSACTION</button></div>
</nav>
